@import "tailwindcss";
@import "tailwindcss/utilities";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: rgb(207, 215, 226);
  --font-body: var(--font-abhaya);
}

@theme static {
  --color-primary: rgb(51, 136, 255);
  --color-secondary: rgb(140, 60, 221);
  --color-primary-gray: rgb(217, 217, 217);
  --color-muted-foreground: rgb(96, 112, 133);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #ffffff00;
    border: 1px solid #434343;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #737373;
    border-radius: 100vh;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #535353;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}
